@page "{searchString?}"
@model RazorPages.Pages.Items.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>商品庫存價格資料</h1>

<p>
    <a asp-page="Create">創建新資料</a>
</p>

<form>
    <p>
        <select asp-for="ItemGenre" asp-items="Model.Genres">
            <option value="">All</option>
        </select>
        品名: <input type="text" asp-for="SearchString" />
        <input type="submit" value="搜尋" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                品名
                @Html.DisplayNameFor(model => model.Iteminfo[0].Title)
            </th>
            <th>
                更新時間
                @Html.DisplayNameFor(model => model.Iteminfo[0].ReleaseDate)
            </th>
            <th>
                商品類型
                @Html.DisplayNameFor(model => model.Iteminfo[0].Genre)
            </th>
            <th>
                價格
                @Html.DisplayNameFor(model => model.Iteminfo[0].Price)
            </th>
            <th>
                數量
                @Html.DisplayNameFor(model => model.Iteminfo[0].Count)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Iteminfo) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Count)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">編輯</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">詳細資料</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">刪除</a>
            </td>
        </tr>
}
    </tbody>
</table>
